{% extends 'InfocorpSintufBundle::layout.html.twig' %}
{% block content %}
  

   	<div class="span2">
      <ul class="nav nav-list">
        <li class="nav-header">Direção</li>
          <li>
              {{ director.title }}
          </li>
      </ul>
    </div>

	<div class="span10">
		<article>
		    <h1 class="title-direction">
		    	{{ director.title }}
		    </h1>

		    <div class="content-direction">
		    	{{ director.content | raw }}
			</div>	    
	    </article>
	</div>

{% endblock %}