{% extends 'InfocorpAffematBundle::layout.html.twig' %}
{% block content %}

	<article>
	    <h1 class="title-new">
	    	{{ news.title }}
	    </h1>

	    <div class="content-new">
	    	{{ news.content | raw }}
		</div>	    
    </article>
{% endblock %}