<div class="slide row-fluid">
  <div class="callbacks_container">
    <ul class="rslides" id="slider4">
      {% for  slide in slides %}

          <li style="width: 770px; height: 282px; float: left; display: block;">
            {% media slide.image, 'reference' %}
            <p class="caption"><a href="{{ slide.link }}" title="{{ slide.title }}">{{ slide.description|slice(0, 100)  }}</a></p>
          </li>

      {% endfor %}

    </ul>
  </div>
</div>