{% extends 'InfocorpSintufBundle::layout.html.twig' %}

{% block content %}
  <ul>
      {% for gallery in galleries %}
          <li><a href="{{ url('infocorp_sintuf_galeria_view', {'id' : gallery|sonata_urlsafeid }) }}">{{ gallery.name }}</a></li>
      {% endfor %}
  </ul>
{% endblock %}