/*###################### RESET ######################*/

body {
	background: #f2f2f2 !important;
	margin: 0;
	padding: 0;
}

img a{border:0;}
a img{border:0;}

/*###################### HEADER ######################*/

header{
	width: 100%;
	height: 595px;
	background: url('/bundles/infocorpsintuf/images/back_top.png') repeat-x;
	background-position: center;
	border-bottom: 5px solid #666;
}

header .header_top{
	width: 805px;
	height: auto;
	margin: 0 auto;
}

header .header_desc{
	width: 335px;
	height: 150px;
	font-family: "Aleo";
	text-shadow: #000 1px 1px 1px;
	color: #fff;
	font-weight: normal;
	font-style: normal;
	margin: 0 auto;
	padding-top: 1px;	
}

header .header_desc h1{
	padding-top: 15px;
	font-size: 20px;
	line-height: 20px;
	float: left;
	position: relative;
	top: 5px;
	right: 80px;
}

header .logo{
	width: 205px;
	height: 90px;
	float: right;
	position: relative;
	top: -125px;
	right: 615px;
}

header .menu_sup{
	text-align: center;
}

header .menu_sup ul{
	width: 700px;
	height: 40px;
	margin: 41px -406px;
	list-style: none;
	text-align: center;
	float: right;
	position: relative;
}

header .menu_sup li{
	float: left;
	padding: 5px 10px 5px 10px;
	font-family: "Aleo";
	font-size: 20px;
	font-weight: bold;
	text-shadow: #000 1px 1px 1px;
	background: #9a100e;
}

header .menu_sup a{
	text-decoration: none;
	color: #FFF;
}

header .menu_sup a:hover{
	text-decoration: underline;
	color: #FFF;
}

/*###################### SLIDER ######################*/

#home_slider{
	width: 670px;
	margin: 5px 5px;
}

#home_slider .carousel-caption {
	height: 45px;
}

#home_slider .carousel-caption h1 {
	font-size: 25px;
	color: #f2f2f2;
	margin-top: -22px;
	margin-bottom: -8px;
}

#home_slider .lead {
	font-size: 15px;
}

#home_slider .btn-large {
	float: right;
	padding: 2px 5px;
	font-size: 12px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#home_slider .news_slider{
	float: right;
	position: relative;
	width: 260px;
	height: 250px;
	top: -350px;
	left: 270px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
}

#home_slider .news_slider span{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 3px;
	border-bottom-color: #333;
	border-bottom-style: solid;
}

header .back_slider{
	width: 980px;
	height: 255px;
	background: #f2f2f2;
	margin: 71px auto;
	border: 2px;
	border-color: #666;
	border-style: solid;
}

#home_slider .carousel{
	margin-bottom: 107px;
}

/*###################### UTILIDADES ######################*/

#utilities{
	width: 982px;
	height: 105px;
	margin: 0 auto;
}

#utilities .nav_serv_utilities{
	width: 280px;
	height: 50px;
	background: black;
}

#utilities .nav{
	list-style: none;
	float: left;
}

#utilities .nav_utilities{
	list-style: none;
	float: left;
	position: relative;
	top: -355px;
}


/*###################### HOME NEWS ######################*/

#news{
	width: 692px;
	height: 220px;
	margin: -355px 200px;
	float: right;
}

#news span{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 5px;
	border-bottom-color: #333;
	border-bottom-style: solid;
}

#news h3{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	line-height: 20px;
}

#news .destaque{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 15px;
	color: #333;
	text-align: justify;
}

#news p{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 15px;
	color: #333;
	text-align: justify;
}

#news .news_block{
	list-style: none;
}

#news .news_block img{
	border: 0;
	padding-bottom: 5px;
}

#news .content_news span{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 25px;
	font-weight: bold;
	border-bottom: 0px;
}

#news ul{
	margin: 0;
}

#news li{
	float: left;
	width: 335px;
	padding-right: 10px;
}

#news h3{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	line-height: 20px;
}

#news p{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 15px;
	color: #333;
	text-align: justify;
}


#noticias{
	width: 100%;
	margin: 40px auto;
	padding-top: 0px;
	background: #d0dff2;
}

#noticias .nav_noticias{
	width: 900px;
	max-height: 175px;
	margin: 0 auto;
}

#noticias .nav_noticias img{
	border: 5px solid #f2f2f2;
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
	margin-bottom: 5px;
	margin-right: 5px;
}

#noticias .nav_noticias .nav_tab_right{
	float: left;
	position: relative;
	top: 0px;
	right: 95px;
	list-style: none;
}

#noticias .nav_noticias .nav_tab_left{
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}

#noticias .nav_noticias .nav_tab_left a{
	background: #d0dff2;
}

#noticias .nav_noticias strong{
	width: 190px;
	height: 80px;
	float: left;
	line-height: 15px;
	position: relative;
	text-align: justify;
}

#noticias .nav_noticias p{
	width: 320px;
	height: 80px;
	line-height: 13px;
	padding-left: 5px;
	font-size: 12px;
	text-align: justify;
}

#noticias .tab-content .btn_mais_noticias{
	float: left;
	position: relative;
	top: 125px;
	left: 20px;
	background: #d0dff2
}

#noticias .active a{
	background: #d0dff2;
}

#noticias .tabbable{
	position: relative;
	top: -38px;
}

/*###################### HOME BLOCO SERVIÇOS ######################*/

#servicos{
	width: 980px;
	height: 120px;
	background: pink;
	margin: 0 auto;
}


#servicos .nav_serv_principal{
	list-style: none;
	float: left;
	position: relative;
	top: -20px;
	left: 25%;
	width: 100%;
	margin: 0 auto;
}

#servicos ul{
	float: left;
	margin-right: 30px;
}

#servicos li{
	list-style: circle;
	list-style-position: inside;
}

#servicos ul .servicos_inst{
	list-style: none;
	padding: 5px 30px 5px 30px;
	margin-bottom: 10px;
	background-color: #1a4087;
	color: #FFF;
}

#servicos .servicos_inst strong{
	color: #FFF;
}

#servicos .nav_institucional a{
	color: #1a4087;
}

#servicos .nav_institucional li{
	color: #1a4087;
}

#servicos ul .servicos_com{
	list-style: none;
	padding: 5px 30px 5px 30px;
	margin-bottom: 10px;
	background-color: #cc6d01;
	color: #FFF;
}

#servicos .servicos_com strong{
	color: #FFF;
}

#servicos .nav_comunicacao a{
	color: #cc6d01;
}

#servicos .nav_comunicacao li{
	color: #cc6d01;
}

#servicos ul .servicos_serv{
	list-style: none;
	padding: 5px 30px 5px 30px;
	margin-bottom: 10px;
	background-color: #929d01;
	color: #FFF;
}

#servicos .servicos_serv strong{
	color: #FFF;
}

#servicos .nav_servicos a{
	color: #929d01;
}

#servicos .nav_servicos li{
	color: #929d01;
}

/*###################### HOME BLOCO PARCEIROS ######################*/

#parceiros{
	width: 900px;
	height: 75px;
	margin: 0 auto;
}

#parceiros .carousel{
	margin-right: 10px;
}

#parceiros .carousel-caption {
	height: 75px;
}

#parceiros .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 900px;
}

#parceiros .row {
	margin-left: 10px;
}

#parceiros .carousel-control.left {
	top: 46%;
	left: -36px;
}

#parceiros .carousel-control.right {
	right: -45px;
	top: 25px;
}

#parceiros [class^="icon-"], [class*=" icon-"] {
	margin-top: 10px;
}

@media (max-width: 767px){
.carousel .row .span3 {
	display: block;
	float: left;
	width: 25%;
	margin-left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
}

/*###################### MEDIA SOCIAL ######################*/

#media_social{
	width: 292px;
	height: 600px;
	float: left;
	position: relative;
	top: -355px;
	left: 160px;	
}

/*######################  PAGE NEWS ######################*/
.title-new{
	color: #333;
	margin: auto 10% auto 10%;
}

.content-new{
	color: #333;
	margin: auto 10% auto 10%;
	text-align: justify;
}

/*###################### FOOTER ######################*/

#rodape{
	width: 100%;
	height: 100px;
	background: url('/bundles/infocorpsintuf/images/back_top.png') repeat-x;
	border-top: 5px solid #666;
	float: left;
}
